html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-image: url(https://img.pikbest.com/backgrounds/20210622/realistic-football-field-gradient-background-design_6000239.jpg!bw700);
  background-position: center;
  background-size: cover;
  color: #f6f6f6;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
  height: 100vh;
  font-family: 'Kanit', sans-serif;
}

nav {
  /* background: rgb(2,0,36);
  background: linear-gradient(180deg, rgb(4, 100, 156) 25%, rgb(13, 2, 80) 90%); */
  background-color: silver;
  color: #790995;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 200px;
  color: rgb(249, 155, 13);
}

#welcome {
  border: 2px solid rgb(26, 147, 228);
  border-radius: 25px;
  background: rgba(82, 82, 232, 0.652);
  box-shadow: 7px 7px 7px rgba(26, 147, 228, 0.624);
  margin-top: 90px;
  width: 560px;
}

main > h1 {
  margin-top: -150px;
}

#profile-div {
  margin-bottom: 125px;
}

div > img {
  border: 2px solid rgb(15, 179, 239);
  border-radius: 50%;
  display: block;
  align-items: center;
}

#signin-div {
  border: 2px solid rgb(18, 139, 238);
  border-radius: 25px;
  margin-top: 20px;
  width: 555px;
  background-color: rgba(82, 82, 232, 0.652);
  box-shadow: 7px 7px 7px rgba(26, 147, 228, 0.624);
}

#user-profile {
  margin: 0 auto;
}

div > h2, h3, li {
  text-align: center;
  width: 550px;
}

ul > li {
  text-align: left;
}

#welcome > h3 {
  width: 550px;
  text-align: center;
}

.right {
  margin-left: auto;
}

div > p{
  text-align: center;
  margin-top: 110px;
  font-size: 25px;
}