div {
  margin: 0 auto;
  margin-top: 30px;
  border: 2px solid rgb(56, 199, 235);
  border-radius: 25px;
  text-align: center;
  width: 300px;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195, 0.608) 0%, rgba(158, 62, 242, 0.725) 100%);
  box-shadow: 7px 7px 7px rgba(26, 147, 228, 0.624)
}

h1 {
  color: rgba(5, 5, 160, 0.805);
  border-bottom: 2px solid rgb(74, 216, 235);
  margin: 10px 35px;
}

#name-display{
  cursor: pointer;
  text-decoration: none;
  margin-left: -250px;
  color: rgb(238, 219, 39);
}

button {
  border: none;
  border-radius: 5px;
  height: 25px;
  margin-left: 125px;
  background-color: rgba(238, 118, 20, 0.573);
  font-weight: bolder;
  cursor: pointer;
}

button:hover {
  background-color: rgba(8, 6, 147, 0.912);
  color: white;
  font-size: 15px; 
  -webkit-transition: font-size .6s ease-in-out;
  -moz-transition: font-size .6s ease-in-out;
  -o-transition: font-size .6s ease-in-out;
  transition: font-size .6s ease-in-out;
}