.container {
  text-align: center;
  border: 2px solid rgb(90, 225, 246);
  width: 300px;
  height: 200px;
  margin: 0 auto;
  margin-top: 250px;
  border-radius: 25px;
  background: linear-gradient(120deg, rgba(43, 43, 224, 0.743), rgba(183, 27, 244, 0.79));
  box-shadow: 7px 7px 7px rgba(26, 147, 228, 0.624);
}

h1 {
  color: rgb(6, 170, 198);
  flex-direction: row;
  border: 2px solid rgb(90, 225, 246);
  margin: 20px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.281);
}

input, button {
  display: block;
}

input {
  border: 2px solid rgb(90, 225, 246);
  margin-left: 70px;
  margin-bottom: 25px;
  height: 30px;
  width: 165px;
  border-radius: 5px;
  color: rgb(181, 7, 7);
  background-color: rgba(240, 234, 234, 0.521);
  font-weight: bolder;
  text-align: center;
}

button {
  border: none;
  border-radius: 5px;
  height: 25px;
  margin-left: 125px;
  background-color: rgba(238, 118, 20, 0.573);
  font-weight: bolder;
  cursor: pointer;
}

button:hover {
  background-color: rgba(8, 205, 231, 0.912);
  font-size: 15px; 
  -webkit-transition: font-size .6s ease-in-out;
  -moz-transition: font-size .6s ease-in-out;
  -o-transition: font-size .6s ease-in-out;
  transition: font-size .6s ease-in-out;
}