div {
  margin: 0 auto;
  margin-top: 50px;
  border: 2px solid rgb(83, 212, 232);
  border-radius: 25px;
  width: 550px;
  text-align: center;
  padding-bottom: 50px;
  background: rgb(34,193,195);
  background: linear-gradient(45deg, rgba(34,193,195,.7) 0%, rgba(81,45,253,.7) 100%);
  box-shadow: 7px 7px 7px rgba(26, 147, 228, 0.624);
  color: rgba(241, 113, 21, 0.916);
}

h1 {
  margin-bottom: -15px;
}

h1, h2, h3 {
  text-decoration: underline;
  color: rgba(255, 255, 0, 0.818);
}

select {
  display: block;
  margin: 0 auto;
  padding: 5px;
  border: 2px solid rgb(83, 212, 232);
  border-radius: 5px;
  background: rgba(255, 192, 203, 0.567);
  font-weight: bolder;
  cursor: pointer;
}

table {
  margin: 0 auto;
}

.t-head {
  margin: 0 60px;
  padding: 0 55px;
  text-decoration: underline;
  color: rgba(255, 255, 0, 0.855);
}

.add-btn, .delete-btn {
  border: none;
  border-radius: 3px;
  margin-top: 15px;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bolder;
}

.add-btn {
  background-color: rgba(205, 82, 243, 0.868);
}

.add-btn:hover {
  background-color: rgb(189, 5, 244);
}

.delete-btn {
  background-color: rgba(232, 45, 8, 0.713);
}

.delete-btn:hover {
  background-color: rgb(221, 15, 8);
}