div {
  margin: 0 auto;
  margin-top: 50px;
  border: 2px solid rgb(83, 212, 232);
  border-radius: 25px;
  width: 550px;
  text-align: center;
  padding-bottom: 50px;
  background: rgb(34,193,195);
  background: linear-gradient(45deg, rgba(34,193,195,.7) 0%, rgba(81,45,253,.7) 100%);
  box-shadow: 7px 7px 7px rgba(26, 147, 228, 0.624);
  color: rgba(241, 113, 21, 0.916);
}

h1 {
  border-bottom: 2px solid white;
  margin:0 100px;
  color: rgba(0, 255, 255, 0.904);
}

h2, h3 {
  color: rgba(255, 255, 0, 0.818);
}

select {
  display: block;
  margin: 0 auto;
  padding: 5px;
  border: 2px solid rgb(83, 212, 232);
  border-radius: 5px;
  background: rgba(255, 192, 203, 0.567);
  font-weight: bolder;
  cursor: pointer;
}

table {
  margin: 0 auto;
}

.t-head {
  margin: 0 60px;
  padding: 0 55px;
  color: rgba(255, 255, 0, 0.855);
  border-bottom: 2px solid white;
}

form {
  display: inline;
}

.add-btn, .delete-btn {
  border: none;
  border-radius: 3px;
  margin-top: 15px;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bolder;
}

.add-btn {
  background-color: rgba(135, 11, 237, 0.719);
  margin: 10px auto;
  color: azure;
}

.add-btn:hover {
  background-color: rgb(201, 64, 242);
  color: rgb(44, 235, 44);
  font-size: 15px; 
  -webkit-transition: font-size .6s ease-in-out;
  -moz-transition: font-size .6s ease-in-out;
  -o-transition: font-size .6s ease-in-out;
  transition: font-size .6s ease-in-out;
}

.delete-btn {
  background-color: rgba(232, 45, 8, 0.713);
  margin: 10px auto;
}

.delete-btn:hover {
  background-color: rgb(221, 15, 8);
  color: white;
  font-size: 15px; 
  -webkit-transition: font-size .6s ease-in-out;
  -moz-transition: font-size .6s ease-in-out;
  -o-transition: font-size .6s ease-in-out;
  transition: font-size .6s ease-in-out;
}

button {
  border: none;
  border-radius: 5px;
  height: 25px;
  margin-left: 125px;
  background-color: rgba(185, 15, 232, 0.573);
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

button:hover {
  background-color: rgba(8, 6, 147, 0.762);
  color: white;
  font-size: 15px; 
  -webkit-transition: font-size .6s ease-in-out;
  -moz-transition: font-size .6s ease-in-out;
  -o-transition: font-size .6s ease-in-out;
  transition: font-size .6s ease-in-out;
}